:root{
    --bg:rgb(36, 36, 36);
    --black:rgb(10, 10, 10);
    --gray:rgb(66, 66, 66);
    --blue:rgb(57, 197, 207);
    --red:rgb(201, 59, 59);
    --green:rgb(85, 194, 75);
    --purple:rgb(159, 66, 212);
    --main:rgba(255, 255, 255, 0.87);
    --darkmain:rgba(255, 255, 255, 0.74);
}


*{  
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳＰゴシック', 'MS PGothic', sans-serif;
    color: var(--main);
    background:var(--bg);
}

body{
    margin: 0.2rem;
}

/*ヘッダーレイアウト*/
.layout{
    padding-top: 0.5rem;
}

#newToDo{
    display: flex;
    justify-content: space-between;
    width: 98vw;
}


header h1{
    font-size: 1.5rem;
    margin-bottom: 1;
}



/*入力欄、日付、addボタン*/
#textarea{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 0.25rem;
    border-radius: 1rem;
    background-color: var(--gray);
    width: 78.5%;
    height: 3rem;
}

#textarea *{
    background-color: var(--gray);
}



#newInputDiv{
    width: 95%;
    padding-left: 0.5rem;   
    background-color: transparent;
    height: 1rem;
}


#newInput{
    width: 95%;
    background-color: transparent;
}

.iPhone #newDateDiv{
    width: 15rem;
    padding-left: 0.5rem;
    background-color: transparent;
}

#newDateDiv{
    width: 15rem;
    padding-left: 0.5rem;
}


#newDate{
    width: 64%;
    color: var(--main);
    background-color: transparent;
}


input,button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    background-color: var(--gray);
}

#newSubmit{
    width: 15.5%;
    padding: 0.25rem;
    border-radius: 20%;
    cursor: pointer;
}
#newSubmit:active{
    background-color: var(--green);
    transition: 0.2s all linear;
}



main{
    margin-bottom: 3rem;
}

/*タスクリスト見出し、deleteAllボタン*/
#taskListHead{
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    width: 98vw;
}
h2{
    margin-top: 0.5rem; 
}

#taskListBtn{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 34%;
    
}
#sortTask{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 42.5%;
    padding: 0.25rem;
    border-radius: 20%;
    cursor: pointer;
}


#delAll{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    width: 44.5%;
    padding:0.25rem;
    border-radius: 20%;
}
#delAll:active{
    background-color:var(--red);
    transition: 0.2s all linear;
}


/*追加されるタスクのスタイル*/

#taskList .taskRecord{
    width: 96vw;
    margin: 1rem 0 1rem 0;
    background-color: var(--gray);
    padding: 0 0 0 0.5rem;
    border-radius: 1rem;
}
#taskList .taskRecord *{
    background-color: transparent;
}

#taskList .taskRecord .content{
    color: var(--bg);
    display: flex;
    width: auto;
}

/*チェックボックス*/
#taskList .taskRecord .content .labelDiv{
    width: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 0.6rem;
}


#taskList .taskRecord .content .labelDiv img{
    display: none;
    height: 1.25rem;
    margin-right: 0.22rem;
}

#taskList .taskRecord .content .checklabel .checkbox{
    display: none;
}

#taskList .taskRecord .content .checklabel{
    cursor: pointer;
    display:block;
    margin: auto;
	height: 10px;
    width: 10px;
	border: 2px solid var(--main);
    border-radius: 15%;
    transition: 0.2s all linear;
}

#taskList .taskRecord .content .labelDiv .label_checked{
    transform: rotate(45deg) translateY(-2px) translateX(-2px);
    height: 15px;
    border: 2px solid var(--green);
    border-top: transparent;
    border-left: transparent;
    border-radius: 10%;
    transition: 0.2s all linear;
}


/*テキスト欄*/

.iPhone #taskList .taskRecord .content .tableDiv .text{
    color: var(--main);
    font-size: medium;
    width: 86vw;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}
#taskList .taskRecord .content .tableDiv .text{
    color: var(--main);
    font-size: medium;
    width: 86vw;
}

/*日付、edit、deleteボタン*/

.iPhone #taskList .taskRecord .content .tableDiv .dateDiv{
    display: flex;
}
#taskList .taskRecord .content .tableDiv .dateDiv{
    display: flex;
}


#taskList .taskRecord .content .tableDiv .dateDiv .placeholder{
    display: none;
}

#taskList .taskRecord .content .tableDiv .dateDiv .placeholderEnable{
    display: block;
    font-size: small;
    color: var(--main);
    width: 8.75rem;
}

.iPhone #taskList .taskRecord .content .tableDiv .dateDiv .date{
    font-size: small;
    width: 7.8rem;
}
#taskList .taskRecord .content .tableDiv .dateDiv .date{
    font-size: small;
    width: 7.5rem;
}


.iPhone #taskList .taskRecord .actions{
    width: 96vw;
    text-align: right;
    padding: 0;
    margin: 0;
}
#taskList .taskRecord .actions{
    width: 96vw;
    text-align: right;
}


#taskList .taskRecord .actions button{
    cursor: pointer;
    color: var(--black);
    padding: 0 0;
    margin: 0;
    vertical-align: top;
}

#taskList .taskRecord .actions .edit{
    width: 15.5%;
    padding-right: 7%;
}
#taskList .taskRecord .actions .save{
    width: 15.5%;
    padding-right: 7%;
}
#taskList .taskRecord .actions .edit:active{
    color: var(--blue);
    transition: 0.2s all linear;
}

#taskList .taskRecord .actions .save:hover{
    color: var(--green);
    transition: 0.2s all linear;
}
#taskList .taskRecord .actions .delete{
    width: 16%;
}

#taskList .taskRecord .actions .delete:active{
    color: var(--red);
    transition: 0.2s all linear;
}


