:root{
    --bg:rgb(36, 36, 36);
    --black:rgb(10, 10, 10);
    --gray:rgb(66, 66, 66);
    --blue:rgb(57, 197, 207);
    --red:rgb(201, 59, 59);
    --green:rgb(85, 194, 75);
    --purple:rgb(159, 66, 212);
    --main:rgba(255, 255, 255, 0.87);
    --darkmain:rgba(255, 255, 255, 0.74);
}


*{  
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: var(--main);
    background:var(--bg);
}

body{
    margin: 0.2rem;
}

/*ヘッダーレイアウト*/
.layout{
    padding: 0.5rem 0.25rem;
    margin: 0 auto;
}

#newToDo{
    display: flex;
    justify-content: space-between;
    width: 96vw;
}


header h1{
    font-size: 1.5rem;
    margin-bottom: 1;
}



/*入力欄、日付、addボタン*/
#textarea{
    display: flex;
    flex-flow: column;
    justify-content:space-between;
    padding: 0.25rem;
    border-radius: 1rem;
    background-color: var(--gray);
    width: 78.5%;
    height: 3rem;
}
#textarea *{
    background-color: var(--gray);
}




#newInputDiv{
    width: 95%;
    padding-left: 0.5rem;
    background-color: transparent;
}

#newInput{
    width: 95%;
    margin: auto;
}

#datearea{
    margin: auto;
    padding: auto;
}

#newDateDiv{
    width: 95%;
    padding-left: 0.5rem;
    background-color: transparent;
}
#newDate{
    width: 64%;
    color: var(--main);
}

input,button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    background-color: var(--gray);
}

#newSubmit{
    width: 15.5%;
    padding: 0.25rem;
    border-radius: 20%;

    cursor: pointer;
}
#newSubmit:hover{
    background-color: var(--green);
    transition: 0.2s all linear;
}





/*タスクリスト見出し、deleteAllボタン*/
#taskListHead{
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    width: 96vw;
}
h2{
    margin-top: 0; 
    vertical-align: top;
}

#taskListBtn{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 34%;
    
}
#sortTask{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 42.5%;
    padding: 0.25rem;
    border-radius: 20%;
}
#sortTask:hover{
    background-color:var(--blue);
    transition: 0.2s all linear;
}


#delAll{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    width: 44.5%;
    padding:0.25rem;
    border-radius: 20%;
}
#delAll:hover{
    background-color:var(--red);
    transition: 0.2s all linear;
}


/*追加されるタスクのスタイル*/
#taskList{
    width: 96vw;
}

#taskList .taskRecord{
    width: 94vw;
    margin: 1rem 0 1rem 0;
    background-color: var(--gray);
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    border-radius: 1rem;
}
#taskList .taskRecord *{
    background-color: transparent;
}

#taskList .taskRecord .content{
    color: var(--bg);
    display: flex;
}

/*チェックボックス*/
#taskList .taskRecord .content .labelDiv{
    width: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 0.6rem;
}


#taskList .taskRecord .content .labelDiv img{
    display: none;
    height: 1.25rem;
    margin-right: 0.22rem;
}

#taskList .taskRecord .content .checklabel .checkbox{
    display: none;
}

#taskList .taskRecord .content .checklabel{
    cursor: pointer;
    display:block;
    margin: auto;
	height: 10px;
    width: 10px;
	border: 2px solid var(--main);
    border-radius: 15%;
    transition: 0.2s all linear;
}

#taskList .taskRecord .content .labelDiv .label_checked{
    transform: rotate(45deg) translateY(-2px) translateX(-2px);
    height: 15px;
    border: 2px solid var(--green);
    border-top: transparent;
    border-left: transparent;
    border-radius: 10%;
    transition: 0.2s all linear;
}


/*テキスト欄*/

#taskList .taskRecord .content .text{
    color: var(--main);
    font-size: medium;
    width: 22.5rem;

}


/*日付、edit、deleteボタン*/

#taskList .taskRecord .actions .dateDiv{
    display: flex;
}


#taskList .taskRecord .actions .dateDiv .placeholder{
    display: none;
}

#taskList .taskRecord .actions .dateDiv .placeholderEnable{
    display: block;
    font-size: small;
    color: var(--main);
    width: 8.75rem;
}

#taskList .taskRecord .actions .dateDiv .date{
    font-size: small;
    width: 8rem;
}

#taskList .taskRecord .actions{
    padding-left: 1.5rem;
    color: var(--black);
    text-align: right;
}

#taskList .taskRecord .actions button{
    padding: 0 0;
    cursor: pointer;
    color: var(--black);
}

#taskList .taskRecord .actions .edit{

}
#taskList .taskRecord .actions .save{
    
}
#taskList .taskRecord .actions .edit:hover{
    color: var(--blue);
    transition: 0.2s all linear;
}

#taskList .taskRecord .actions .save:hover{
    color: var(--green);
    transition: 0.2s all linear;
}
#taskList .taskRecord .actions .delete{
    padding-right: 0.25rem;
    padding-left: 1rem;
}

#taskList .taskRecord .actions .delete:hover{
    color: var(--red);
    transition: 0.2s all linear;
}

