:root{
    --bg:rgb(36, 36, 36);
    --black:rgb(10, 10, 10);
    --gray:rgb(49, 49, 49);
    --blue:rgb(57, 197, 207);
    --red:rgb(201, 59, 59);
    --green:rgb(85, 194, 75);
    --purple:rgb(159, 66, 212);
    --main:rgba(255, 255, 255, 0.87);
    --darkmain:rgba(255, 255, 255, 0.74);
}


*{  
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: var(--main);
    background: var(--bg);
}


body{
    margin: 0;
}

/*ヘッダーレイアウト*/
.layout{
    padding: 1rem 1rem;
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
}

#newToDo{
    display: flex;
    justify-content: space-between
}


header h1{
    font-size: 1.5rem;
    margin-bottom: 1;
}



/*入力欄、日付、addボタン*/
#textarea{
    flex: auto;
    padding: 0.5rem 1rem;
    margin-right: 1em;
    border-radius: 1rem;
    background-color: var(--gray);
}
#newToDo #textarea *{
    background-color:transparent;
}

input,button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    background-color: var(--gray);
}

#newInputDiv{
    height: 1.3rem;
}
#newInput{
    width: 100%;
    border: none;
    resize: none;
}


#newDateDiv{
    color: var(--main);
    width: 10.25rem;
    padding-right: 5vw;
}

#newSubmit{
    width: 71px;
    padding: 1rem;
    border-radius: 20%;
    cursor: pointer;
}
#newSubmit:hover{
    background-color: var(--green);
    transition: 0.2s all linear;
}

/*タスクリスト見出し、deleteAllボタン*/
#taskListHead{
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 3.5rem;
}
h2{
    margin-top: 0.5em;
}

#taskListBtn{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    cursor: pointer;
    
}
#sortTask{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 71px;
    padding: 0.75rem 1rem;
    border-radius: 20%;
    cursor: pointer;
}
#sortTask:hover{
    background-color:var(--blue);
    transition: 0.2s all linear;
}


#delAll{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 71px;
    padding:1rem;
    border-radius: 20%;
    cursor: pointer;
}
#delAll:hover{
    background-color:var(--red);
    transition: 0.2s all linear;
}

#taskList{
    padding: 1rem 0;
    margin-bottom: 8rem;
    height: auto;
}

/*追加されるタスクのスタイル*/
#taskList .taskRecord{
    margin: 1.2rem 0 1.2rem 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--gray);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
#taskList .taskRecord *{
    background-color: var(--gray);
}

#taskList .taskRecord .content{
    color: var(--bg);
    display: flex;
    width: 80%;
}

/*チェックボックス*/
#taskList .taskRecord .content .labelDiv{
    width: 16px;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 1rem;
}


#taskList .taskRecord .content .labelDiv img{
    display: none;
    height: 1.25rem;
    margin: auto;
}

#taskList .taskRecord .content .checklabel .checkbox{
    display: none;
}

#taskList .taskRecord .content .checklabel{
    cursor: pointer;
    display:block;
    margin: auto;
	height: 10px;
    width: 10px;
	border: 2px solid var(--main);
    border-radius: 15%;
    transition: 0.2s all linear;
}

#taskList .taskRecord .content .labelDiv .label_checked{
    transform: rotate(45deg) translateY(-2px) translateX(-2px);
    height: 15px;
    border: 2px solid var(--green);
    border-top: transparent;
    border-left: transparent;
    border-radius: 10%;
    transition: 0.2s all linear;
}


/*タスク、日付欄*/
#taskList .taskRecord .content .tableDiv{
    width: 100%;
}

#taskList .taskRecord .content .tableDiv .text{
    color: var(--main);
    font-size: 1.1rem;
    width: 100%;
    
}



#taskList .taskRecord .content .tableDiv .dateDiv{
    display: flex;
}


#taskList .taskRecord .content .tableDiv .dateDiv .placeholder{
    font-size: small;
    color: var(--gray);
    width: 9rem;
}

#taskList .taskRecord .content .tableDiv .dateDiv .placeholderEnable{
    font-size: small;
    color: var(--main);
    width: 9rem;
}

#taskList .taskRecord .content .tableDiv .dateDiv .date{
    width: 7.6rem;
}



/*detail、edit、deleteボタン*/
#taskList .taskRecord .actions{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    padding-left: 1.5rem;
    color: var(--black);
}

#taskList .taskRecord .actions button{
    padding: 0 0;
    cursor: pointer;
    color: var(--black);
}

#taskList .taskRecord .actions .detail{
    padding-right: 1rem;
}
#taskList .taskRecord .actions .detail:hover{
    color: var(--green);
    transition: 0.2s all linear;
}

#taskList .taskRecord .actions .edit{
    padding-right: 1.8rem;
    padding-left: 1rem;
}
#taskList .taskRecord .actions .save{
    padding-right: 1.5rem;
    padding-left: 0.88rem;
}
#taskList .taskRecord .actions .edit:hover{
    color: var(--blue);
    transition: 0.2s all linear;
}

#taskList .taskRecord .actions .save:hover{
    color: var(--green);
    transition: 0.2s all linear;
}

#taskList .taskRecord .actions .delete:hover{
    color: var(--red);
    transition: 0.2s all linear;
}

